@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.circle1 {
  left: 0;
  top: 0;
  width: 1086px;
  height: 836px;
}

ul li a:hover {
  background-image: linear-gradient(to right, #903aff 10%, #d434fe 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
  .circle1 {
    width: 800px;
    left: -200px;
  }
  .circle2 {
    display: none;
  }
}
